<app-header></app-header>
<div class="container my-3">
  <mat-card
    class="w-100 d-flex align-items-center justify-content-center mat-card-form"
  >
    <mat-card-content class="w-100">
      <h2 class="text-dark text-center">
        New Event <i class="bi bi-calendar-event"></i>
      </h2>
      <form
        class="text-dark d-flex flex-column"
        [formGroup]="formTemplate"
        (submit)="onSubmit(formTemplate.value)"
      >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="text-dark">Event Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="eventName"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Choose a date</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="date" />
          <mat-hint class="text-dark">MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconPrefix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="my-3">
          <mat-label class="text-dark" >Location</mat-label>
          <input matInput formControlName="location"/>
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label class="text-dark" >Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <button mat-raised-button type="submit" class="mat-pink my-2">
              Create Event
              <span class="spinner-border mx-2" *ngIf="loader"></span>
            </button>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <button
              mat-raised-button
              type="submit"
              class="bg-dark my-2"
              (click)="resetForm()"
            >
              Reset
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
