<mat-nav-list>
  <a  mat-list-item (click)="openLink($event)"  routerLink="/dashboard">
    <span matListItemTitle>New Event</span>
  </a>
  <a  mat-list-item (click)="openLink($event)"   routerLink="/memories">
    <span matListItemTitle>Memories</span>
  </a>
  <a  mat-list-item (click)="openLink($event)"  routerLink="/new-mem">
    <span matListItemTitle>New Memory</span>
  </a>
  <a  mat-list-item (click)="openLink($event)"  routerLink="/new-event">
    <span matListItemTitle>New Event</span>
  </a>
  <a  mat-list-item (click)="openLinkSignOut($event)" >
    <span matListItemTitle>Sign Out</span>
  </a>


</mat-nav-list>
