<mat-nav-list>
  <a  mat-list-item (click)="openLink($event)"  routerLink="/dashboard">
    <span matListItemTitle><i class="bi bi-house-door-fill"></i> Home</span>
  </a>
  <a  mat-list-item (click)="openLink($event)"   routerLink="/memories">
    <span matListItemTitle><i class="bi bi-list-ul"></i> Memories</span>
  </a>
   <a  mat-list-item (click)="openLink($event)"  routerLink="/new-event">
    <span matListItemTitle><i class="bi bi-calendar-event-fill"></i> New Event</span>
  </a>
  <a  mat-list-item (click)="openLink($event)"  routerLink="/new-mem">
    <span matListItemTitle><i class="bi bi-image-fill"></i> New Memory</span>
  </a>
  <a  mat-list-item (click)="openLinkSignOut($event)" >
    <span matListItemTitle><i class="bi bi-box-arrow-right"></i> Sign Out</span>
  </a>


</mat-nav-list>
