<mat-toolbar class="mat-bg-pink">
  <h1 class="card-title text-center">
    <i class="bi bi-badge-tm-fill"></i> Third Mem
    <i class="bi bi-image-alt"></i>
  </h1>
  <span class="example-spacer"></span>


  <div class="d-block d-lg-none">
    <span class="example-spacer"></span>
    <button
      mat-raised-button
      (click)="openMobileViewMenus()"
      class="card-title text-center mat-pink h3"
    >
    <i class="bi bi-list"></i>
    </button>
  </div>

  <div class="d-none d-lg-block">
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      matTooltip="Home"
      aria-label="Example icon-button with heart icon"
      routerLink="/dashboard"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      matTooltip="Memories"
      aria-label="Example icon-button with heart icon"
      routerLink="/memories"
    >
      <mat-icon>list</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      matTooltip="New Event"
      aria-label="Example icon-button with heart icon"
      routerLink="/new-event"
    >
      <mat-icon>event</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      matTooltip="New Memory"
      aria-label="Example icon-button with heart icon"
      routerLink="/new-mem"
    >
      <mat-icon>image</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      matTooltip="Sign Out"
      aria-label="Example icon-button with heart icon"
      (click)="signOut()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="container">
  <h4 class="card-title text-end">
    Hi ! {{ userData.email.split("@")[0] }} 👋
  </h4>
</div>

